body {
    background-color:#f5f5dc; ;
}

.mirror_words {
    height: 100vh; 
    margin: 100px, 30px, 400px, 0px;  
     display: flex;
    align-items: center;
    justify-content: center;

}
#mirror_image {
    height: 500px;
    width: 1000px; 
}
